USE [master]
GO
/****** Object:  Database [Whiskey_DB_GrD11]    Script Date: 3/12/2021 4:03:57 PM ******/
CREATE DATABASE [Whiskey_DB_GrD11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Whiskey_DB_GrD11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Whiskey_DB_GrD11.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Whiskey_DB_GrD11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Whiskey_DB_GrD11_log.ldf' , SIZE = 38208KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Whiskey_DB_GrD11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Whiskey_DB_GrD11]
GO
/****** Object:  User [Gast_WhiskeyDB_wdb]    Script Date: 3/12/2021 4:03:57 PM ******/
CREATE USER [Gast_WhiskeyDB_wdb] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[sf_autoPrize]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[sf_autoPrize] 
(
	@Prize MONEY,
	@EntryYear INT, 
	@CurrYear INT
)
RETURNS MONEY
AS
BEGIN
	DECLARE @AutoPrize MONEY;	
	
	--SET @Age = DATEDIFF(YEAR, @GebDat, GETDATE()); -- nicht ganz korrekt, nur Test
	SET @AutoPrize = @Prize * Power(1.02, (@CurrYear - @EntryYear));

	-- Return the result of the function
	RETURN @AutoPrize;
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_autoPrize2]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description:	diese Funktion berechnet Preiserhöhung 
-- =============================================

CREATE   FUNCTION [dbo].[sf_autoPrize2] 
(
	@PrizeID INT
)
RETURNS MONEY
AS
BEGIN
	DECLARE @AutoPrize2 MONEY
	DECLARE @Prize MONEY
	DECLARE @currYear INT
	DECLARE @entryYear INT;	
	SET @currYear = (select currentYear FROM tab_Prize WHERE PrizeID = @PrizeID)
	SET @entryYear = (select entryYear FROM tab_Prize WHERE PrizeID = @PrizeID)
	SET @Prize = (select entryPrize FROM tab_Prize WHERE PrizeID = @PrizeID)
		
	SET @AutoPrize2 = @Prize * Power(1.02, (@CurrYear - @EntryYear));

	-- Return the result of the function
	RETURN @AutoPrize2;
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_CalcAge]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Description:	diese Funktion berechnet Alter
-- =============================================
CREATE   FUNCTION [dbo].[sf_CalcAge] 
(
	@Geburtsdatum date
)
RETURNS int
AS
BEGIN
	DECLARE @Age int;	
	
	SET @Age = FLOOR(DATEDIFF(DAY, @Geburtsdatum, GETDATE()) / 365.25);

	-- Return the result of the function
	RETURN @Age;
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_CalcBetragBestellung]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Lev A. Brodski
-- Create date: 25.02.2021
-- Description:	diese Funktion berechnet die Bestellungsbetrag
-- =============================================
CREATE   FUNCTION [dbo].[sf_CalcBetragBestellung] 
(
	@ProductID int,
	@Quantity int
)
RETURNS money
AS
BEGIN
	DECLARE @Betrag money;	
	
	SET @Betrag = (Select currentPrize From tab_Prize where ProductID = @ProductID) * @Quantity;

	-- Return the result of the function
	RETURN @Betrag;
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_PercentageIncrease]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   FUNCTION [dbo].[sf_PercentageIncrease]
(
	@PreisID int	    
)

RETURNS float
AS
BEGIN
	
	DECLARE @PercentageIncrease float
	DECLARE @EntryPrice money 
	DECLARE @NewPrice  money

	SET @EntryPrice = (SELECT[entryPrize] FROM [tab_Prize] where [PrizeID]= @PreisID )
	SET @NewPrice = (SELECT[currentPrize] FROM [tab_Prize] where [PrizeID]= @PreisID)

	SET @PercentageIncrease = 100.0*((@NewPrice - @EntryPrice) / @EntryPrice);
	
	RETURN @PercentageIncrease;

END
GO
/****** Object:  Table [dbo].[tab_Kunden]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_Kunden](
	[KundenID] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [nvarchar](20) NOT NULL,
	[Nachname] [nvarchar](50) NOT NULL,
	[Geburtsdatum] [date] NOT NULL,
	[Strasse] [nvarchar](50) NOT NULL,
	[Hausnummer] [varchar](8) NOT NULL,
	[PLZ] [varchar](5) NOT NULL,
	[Ort] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tab_Kunden] PRIMARY KEY CLUSTERED 
(
	[KundenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Kunden_Name_und_Alter]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[View_Kunden_Name_und_Alter]
AS

SELECT TOP 100
	KundenID,
	Nachname, 
	Vorname,
	Geburtsdatum,
	[dbo].[sf_CalcAge](Geburtsdatum) AS KundenAlter --- hier in der Originalversion Herr Brodskis GetAge-Fkt-Name
FROM tab_Kunden
ORDER BY Geburtsdatum DESC;

GO
/****** Object:  Table [dbo].[tab_Bestellung]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_Bestellung](
	[BestellID] [int] IDENTITY(1,1) NOT NULL,
	[Bestellnummer] [numeric](5, 0) NOT NULL,
	[date] [datetime] NOT NULL,
	[KundenID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Product_quantity] [smallint] NOT NULL,
	[comment] [nvarchar](50) NULL,
	[Betrag] [money] NULL,
 CONSTRAINT [PK_tab_Bestellung] PRIMARY KEY CLUSTERED 
(
	[BestellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Kundenbestellungen mit Alter]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[View_Kundenbestellungen mit Alter]
AS

SELECT TOP 100
	SUM(tab_Bestellung.Betrag) AS TotalBetrag,
	MAX(tab_Kunden.Nachname + ' '+ tab_Kunden.Vorname) AS KundenName,
	MAX([dbo].[sf_CalcAge](tab_Kunden.Geburtsdatum)) AS 'Alter'
FROM tab_Bestellung LEFT JOIN tab_Kunden
ON tab_Bestellung.KundenID = tab_Kunden.KundenID
group by tab_Kunden.KundenID
order by SUM(tab_Bestellung.Betrag) DESC
GO
/****** Object:  Table [dbo].[tab_Product]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_Product](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Productname] [nvarchar](100) NOT NULL,
	[alcohol_content] [int] NULL,
	[bottle_size_ID] [int] NULL,
	[CountryID] [int] NOT NULL,
	[fill_year] [int] NULL,
	[maturity] [int] NULL,
	[ProducerID] [int] NULL,
	[sortID] [int] NOT NULL,
	[WBratingID] [int] NOT NULL,
	[Comm] [nvarchar](77) NULL,
	[Prize] [money] NULL,
	[countRating] [int] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_tab_Product] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_Prize]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_Prize](
	[PrizeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[currentPrize] [money] NOT NULL,
	[currentYear] [int] NOT NULL,
	[entryPrize] [money] NOT NULL,
	[entryYear] [int] NOT NULL,
 CONSTRAINT [PK_tab_Prize] PRIMARY KEY CLUSTERED 
(
	[PrizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_PreisUebersicht]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[View_PreisUebersicht]
AS

SELECT TOP 100 * 
	FROM tab_Product 
		INNER JOIN tab_Prize 
		on tab_product.Product_ID = tab_Prize.ProductID
	ORDER BY currentPrize DESC;

GO
/****** Object:  View [dbo].[View_Alle Produkte]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Alle Produkte]
AS

SELECT TOP (1000) [Product_ID]
      ,[Productname]
      ,[alcohol_content]
      ,[bottle_size_ID]
      ,[CountryID]
      ,[fill_year]
      ,[maturity]
      ,[ProducerID]
      ,[sortID]
      ,[WBratingID]
      ,[Comm]
      ,[Prize]
      ,[countRating]
      ,[Rating]
  FROM [Whiskey_DB_GrD11].[dbo].[tab_Product]
  ORDER BY Productname ASC;

GO
/****** Object:  Table [dbo].[tab_Kundenbewertung]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_Kundenbewertung](
	[rating_ID] [int] IDENTITY(1,1) NOT NULL,
	[kunden_ID] [int] NOT NULL,
	[bestellung_ID] [int] NOT NULL,
	[product_ID] [int] NOT NULL,
	[date] [date] NOT NULL,
	[rating] [smallint] NOT NULL,
 CONSTRAINT [PK_tab_Kundenbewertung] PRIMARY KEY CLUSTERED 
(
	[rating_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_WB_rating]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_WB_rating](
	[WBratingID] [int] IDENTITY(1,1) NOT NULL,
	[WBrating] [nvarchar](1) NOT NULL,
	[comment] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tab_WBrat] PRIMARY KEY CLUSTERED 
(
	[WBratingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[tf_Kundenbewertung]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE    FUNCTION [dbo].[tf_Kundenbewertung]
(	
	@Rating int,
	@HighRating char,
	@LowRating char
)
RETURNS TABLE 
AS
RETURN
(
SELECT TOP 100 Percent dbo.tab_Kundenbewertung.Product_ID,
		dbo.tab_Kundenbewertung.kunden_ID, 
		[dbo].[tab_Product].Productname,
		dbo.tab_Kundenbewertung.date,
		dbo.tab_WB_rating.WBrating,
		dbo.tab_Kundenbewertung.rating
	FROM dbo.tab_Kundenbewertung RIGHT OUTER JOIN
		[dbo].[tab_Product] on dbo.tab_Kundenbewertung.product_ID = [dbo].[tab_Product].Product_ID
		RIGHT OUTER JOIN dbo.tab_WB_rating ON dbo.tab_WB_rating.WBratingID= [dbo].[tab_Product].WBratingID
	WHERE
	dbo.tab_WB_rating.WBrating BETWEEN @HighRating AND @LowRating
	AND (dbo.tab_Kundenbewertung.rating >= @Rating)
	ORDER BY 
	dbo.tab_WB_rating.WBrating, dbo.tab_Kundenbewertung.rating desc
)
GO
/****** Object:  Table [dbo].[tab_Country]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tab_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_AbfrageKundenbewertung]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[View_AbfrageKundenbewertung]
AS

SELECT TOP 100 -- Die ORDER BY-Klausel ist in Sichten, Inlinefunktionen, abgeleiteten Tabellen, Unterabfragen und allgemeinen Tabellenausdrücken nur dann gültig, wenn auch TOP, OFFSET oder FROM XML angegeben wird.
tab_Country.Country, 
tab_Kundenbewertung.rating, 
tab_Product.Product_ID, 
tab_Product.Productname
FROM tab_Kundenbewertung					-- Abfrage Kundenbewertung
INNER JOIN tab_Product
ON tab_Product.Product_ID = tab_Kundenbewertung.product_ID
INNER JOIN tab_Country
ON tab_Country.CountryID = tab_Product.CountryID
WHERE tab_Country.CountryID IN (2,7)		-- für schottische und deutsche Produkte
AND tab_Kundenbewertung.rating > 1
ORDER BY rating DESC, tab_Country.CountryID
GO
/****** Object:  Table [dbo].[tab_BottleSize]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_BottleSize](
	[BottleSizeID] [int] IDENTITY(1,1) NOT NULL,
	[BottleSize] [smallint] NULL,
 CONSTRAINT [PK_tab_BottleSize] PRIMARY KEY CLUSTERED 
(
	[BottleSizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_KundenbewertungLog]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_KundenbewertungLog](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[KdnBwNr] [int] NOT NULL,
	[Mode] [char](1) NOT NULL,
	[KundenID] [int] NOT NULL,
	[BestellungID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[RatingDate] [date] NOT NULL,
	[Rating] [smallint] NOT NULL,
	[EditUser] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_Producer]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_Producer](
	[ProducerID] [int] IDENTITY(1,1) NOT NULL,
	[Producer] [nvarchar](50) NULL,
 CONSTRAINT [PK_tab_Producer] PRIMARY KEY CLUSTERED 
(
	[ProducerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_Sort]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_Sort](
	[SortID] [int] IDENTITY(1,1) NOT NULL,
	[Sort] [nvarchar](50) NULL,
 CONSTRAINT [PK_tab_Sort] PRIMARY KEY CLUSTERED 
(
	[SortID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WhiskeyDatensatz_v3_old]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WhiskeyDatensatz_v3_old](
	[Product] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[countRating] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[WBrating] [char](1) NOT NULL,
	[Producer] [nvarchar](50) NULL,
	[Alcohol] [float] NULL,
	[FillYear] [int] NULL,
	[Maturity] [float] NULL,
	[Sort] [nvarchar](25) NULL,
	[BottleSize] [float] NULL,
	[Prize] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WhiskeyDatensatz_v4]    Script Date: 3/12/2021 4:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WhiskeyDatensatz_v4](
	[Product] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[countRating] [nvarchar](50) NOT NULL,
	[Rating] [int] NOT NULL,
	[WBrating] [nvarchar](50) NOT NULL,
	[Producer] [nvarchar](50) NULL,
	[Alcohol] [int] NULL,
	[FillYear] [nvarchar](50) NULL,
	[Maturity] [nvarchar](50) NULL,
	[Sort] [nvarchar](50) NULL,
	[BottleSize] [nvarchar](50) NULL,
	[Prize] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tab_Bestellung] ON 

INSERT [dbo].[tab_Bestellung] ([BestellID], [Bestellnummer], [date], [KundenID], [ProductID], [Product_quantity], [comment], [Betrag]) VALUES (1, CAST(18040 AS Numeric(5, 0)), CAST(N'2017-12-29T00:11:57.000' AS DateTime), 71, 185, 10, NULL, 870.0000)
INSERT [dbo].[tab_Bestellung] ([BestellID], [Bestellnummer], [date], [KundenID], [ProductID], [Product_quantity], [comment], [Betrag]) VALUES (2, CAST(15492 AS Numeric(5, 0)), CAST(N'2016-08-10T13:08:25.000' AS DateTime), 98, 545, 7, NULL, 949.6200)
INSERT [dbo].[tab_Bestellung] ([BestellID], [Bestellnummer], [date], [KundenID], [ProductID], [Product_quantity], [comment], [Betrag]) VALUES (3, CAST(85642 AS Numeric(5, 0)), CAST(N'2015-07-12T16:16:06.000' AS DateTime), 100, 84, 10, NULL, 2440.0000)
GO
SET IDENTITY_INSERT [dbo].[tab_Bestellung] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_BottleSize] ON 

INSERT [dbo].[tab_BottleSize] ([BottleSizeID], [BottleSize]) VALUES (1, 1000)
INSERT [dbo].[tab_BottleSize] ([BottleSizeID], [BottleSize]) VALUES (2, 200)
INSERT [dbo].[tab_BottleSize] ([BottleSizeID], [BottleSize]) VALUES (3, 500)
SET IDENTITY_INSERT [dbo].[tab_BottleSize] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_Country] ON 

INSERT [dbo].[tab_Country] ([CountryID], [Country]) VALUES (7, N'Scotland')
INSERT [dbo].[tab_Country] ([CountryID], [Country]) VALUES (6, N'Korea')
INSERT [dbo].[tab_Country] ([CountryID], [Country]) VALUES (5, N'Ireland')
SET IDENTITY_INSERT [dbo].[tab_Country] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_Kunden] ON 

INSERT [dbo].[tab_Kunden] ([KundenID], [Vorname], [Nachname], [Geburtsdatum], [Strasse], [Hausnummer], [PLZ], [Ort]) VALUES (1, N'Günter', N'Mettler', CAST(N'1991-09-29' AS Date), N'An der Halbe', N'194', N'49186', N'Bad Iburg')
INSERT [dbo].[tab_Kunden] ([KundenID], [Vorname], [Nachname], [Geburtsdatum], [Strasse], [Hausnummer], [PLZ], [Ort]) VALUES (2, N'Friedhart', N'Steitz', CAST(N'1961-04-06' AS Date), N'Freckenhorster Straße', N'122', N'85128', N'Nassenfels')
INSERT [dbo].[tab_Kunden] ([KundenID], [Vorname], [Nachname], [Geburtsdatum], [Strasse], [Hausnummer], [PLZ], [Ort]) VALUES (3, N'Augustinus', N'Irmscher', CAST(N'1977-09-03' AS Date), N'Feuerdornweg', N'155', N'66869', N'Ruthweiler')
GO
SET IDENTITY_INSERT [dbo].[tab_Kunden] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_Kundenbewertung] ON 

INSERT [dbo].[tab_Kundenbewertung] ([rating_ID], [kunden_ID], [bestellung_ID], [product_ID], [date], [rating]) VALUES (1, 71, 1, 185, CAST(N'2018-01-04' AS Date), 4)
INSERT [dbo].[tab_Kundenbewertung] ([rating_ID], [kunden_ID], [bestellung_ID], [product_ID], [date], [rating]) VALUES (2, 98, 2, 545, CAST(N'2016-08-11' AS Date), 5)
INSERT [dbo].[tab_Kundenbewertung] ([rating_ID], [kunden_ID], [bestellung_ID], [product_ID], [date], [rating]) VALUES (3, 100, 3, 84, CAST(N'2015-07-22' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[tab_Kundenbewertung] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_KundenbewertungLog] ON 

INSERT [dbo].[tab_KundenbewertungLog] ([RecordID], [KdnBwNr], [Mode], [KundenID], [BestellungID], [ProductID], [RatingDate], [Rating], [EditUser]) VALUES (1, 1, N'I', 71, 1, 185, CAST(N'2018-01-04' AS Date), 4, N'FLORINA\florina')
INSERT [dbo].[tab_KundenbewertungLog] ([RecordID], [KdnBwNr], [Mode], [KundenID], [BestellungID], [ProductID], [RatingDate], [Rating], [EditUser]) VALUES (2, 2, N'I', 98, 2, 545, CAST(N'2016-08-11' AS Date), 5, N'FLORINA\florina')
INSERT [dbo].[tab_KundenbewertungLog] ([RecordID], [KdnBwNr], [Mode], [KundenID], [BestellungID], [ProductID], [RatingDate], [Rating], [EditUser]) VALUES (3, 3, N'I', 100, 3, 84, CAST(N'2015-07-22' AS Date), 1, N'FLORINA\florina')
GO
SET IDENTITY_INSERT [dbo].[tab_KundenbewertungLog] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_Prize] ON 

INSERT [dbo].[tab_Prize] ([PrizeID], [ProductID], [currentPrize], [currentYear], [entryPrize], [entryYear]) VALUES (1, 3, 450.8400, 2019, 442.0000, 2018)
INSERT [dbo].[tab_Prize] ([PrizeID], [ProductID], [currentPrize], [currentYear], [entryPrize], [entryYear]) VALUES (2, 4, 611.0000, 2013, 611.0000, 2013)
INSERT [dbo].[tab_Prize] ([PrizeID], [ProductID], [currentPrize], [currentYear], [entryPrize], [entryYear]) VALUES (3, 5, 101.8980, 2018, 99.9000, 2017)
GO
SET IDENTITY_INSERT [dbo].[tab_Prize] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_Producer] ON 

INSERT [dbo].[tab_Producer] ([ProducerID], [Producer]) VALUES (1, N'Acredyke Whisky Ltd. (AWL)')
INSERT [dbo].[tab_Producer] ([ProducerID], [Producer]) VALUES (2, N'Aird Blenders (AB)')
INSERT [dbo].[tab_Producer] ([ProducerID], [Producer]) VALUES (3, N'Diageo (Diag')
SET IDENTITY_INSERT [dbo].[tab_Producer] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_Product] ON 

INSERT [dbo].[tab_Product] ([Product_ID], [Productname], [alcohol_content], [bottle_size_ID], [CountryID], [fill_year], [maturity], [ProducerID], [sortID], [WBratingID], [Comm], [Prize], [countRating], [Rating]) VALUES (3, N'Saint Isidore NAS MoM ', 41, 4, 7, 1958, 7, 9, 1, 3, NULL, 442.0000, 1, 8575)
INSERT [dbo].[tab_Product] ([Product_ID], [Productname], [alcohol_content], [bottle_size_ID], [CountryID], [fill_year], [maturity], [ProducerID], [sortID], [WBratingID], [Comm], [Prize], [countRating], [Rating]) VALUES (4, N'Sainsbury''s Basics ', 40, 4, 7, 2015, 23, 13, 1, 5, NULL, 611.0000, 11, 7826)
INSERT [dbo].[tab_Product] ([Product_ID], [Productname], [alcohol_content], [bottle_size_ID], [CountryID], [fill_year], [maturity], [ProducerID], [sortID], [WBratingID], [Comm], [Prize], [countRating], [Rating]) VALUES (5, N'Scotch No. 10 03-year-old', 43, 2, 7, 1953, 3, 1, 1, 6, NULL, 99.9000, 5, 7767)
GO
SET IDENTITY_INSERT [dbo].[tab_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_Sort] ON 

INSERT [dbo].[tab_Sort] ([SortID], [Sort]) VALUES (2, N'Single Malt')
INSERT [dbo].[tab_Sort] ([SortID], [Sort]) VALUES (1, N'Blended')
SET IDENTITY_INSERT [dbo].[tab_Sort] OFF
GO
SET IDENTITY_INSERT [dbo].[tab_WB_rating] ON 

INSERT [dbo].[tab_WB_rating] ([WBratingID], [WBrating], [comment]) VALUES (1, N'A', N'hyper     ')
INSERT [dbo].[tab_WB_rating] ([WBratingID], [WBrating], [comment]) VALUES (2, N'B', N'super     ')
INSERT [dbo].[tab_WB_rating] ([WBratingID], [WBrating], [comment]) VALUES (3, N'C', N'gut       ')
SET IDENTITY_INSERT [dbo].[tab_WB_rating] OFF
GO
INSERT [dbo].[WhiskeyDatensatz_v3_old] ([Product], [Country], [countRating], [Rating], [WBrating], [Producer], [Alcohol], [FillYear], [Maturity], [Sort], [BottleSize], [Prize]) VALUES (N'Saint Isidore NAS MoM ', N'Scotland', 1, 8575, N'C', N'Master of Malt (MoM)', 414, NULL, NULL, N'Blended', 7, NULL)
INSERT [dbo].[WhiskeyDatensatz_v3_old] ([Product], [Country], [countRating], [Rating], [WBrating], [Producer], [Alcohol], [FillYear], [Maturity], [Sort], [BottleSize], [Prize]) VALUES (N'Sainsbury''s Basics ', N'Scotland', 11, 7826, N'E', N'Sainsbury''s Supermarkets Ltd.', 400, NULL, NULL, N'Blended', 7, NULL)
INSERT [dbo].[WhiskeyDatensatz_v3_old] ([Product], [Country], [countRating], [Rating], [WBrating], [Producer], [Alcohol], [FillYear], [Maturity], [Sort], [BottleSize], [Prize]) VALUES (N'Scotch No. 10 03-year-old', N'Scotland', 5, 7767, N'F', N'Acredyke Whisky Ltd. (AWL)', 430, NULL, 3, N'Blended', NULL, 999)
GO
INSERT [dbo].[WhiskeyDatensatz_v4] ([Product], [Country], [countRating], [Rating], [WBrating], [Producer], [Alcohol], [FillYear], [Maturity], [Sort], [BottleSize], [Prize]) VALUES (N'Saint Isidore NAS MoM ', N'Scotland', N'1', 8575, N'C', N'Master of Malt (MoM)', 414, NULL, NULL, N'Blended', N'700', NULL)
INSERT [dbo].[WhiskeyDatensatz_v4] ([Product], [Country], [countRating], [Rating], [WBrating], [Producer], [Alcohol], [FillYear], [Maturity], [Sort], [BottleSize], [Prize]) VALUES (N'Sainsbury''s Basics ', N'Scotland', N'11', 7826, N'E', N'Sainsbury''s Supermarkets Ltd.', 400, NULL, NULL, N'Blended', N'700', NULL)
INSERT [dbo].[WhiskeyDatensatz_v4] ([Product], [Country], [countRating], [Rating], [WBrating], [Producer], [Alcohol], [FillYear], [Maturity], [Sort], [BottleSize], [Prize]) VALUES (N'Scotch No. 10 03-year-old', N'Scotland', N'5', 7767, N'F', N'Acredyke Whisky Ltd. (AWL)', 430, NULL, N'3', N'Blended', N'0', N'99.90')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tb_Country]    Script Date: 3/12/2021 4:03:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tb_Country] ON [dbo].[tab_Country]
(
	[Country] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KundenName]    Script Date: 3/12/2021 4:03:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KundenName] ON [dbo].[tab_Kunden]
(
	[Vorname] ASC,
	[Nachname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kundenbewertung_rating]    Script Date: 3/12/2021 4:03:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Kundenbewertung_rating] ON [dbo].[tab_Kundenbewertung]
(
	[kunden_ID] ASC,
	[bestellung_ID] ASC,
	[product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prize]    Script Date: 3/12/2021 4:03:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Prize] ON [dbo].[tab_Prize]
(
	[ProductID] ASC,
	[entryYear] ASC,
	[currentYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Productname]    Script Date: 3/12/2021 4:03:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Productname] ON [dbo].[tab_Product]
(
	[Productname] ASC,
	[bottle_size_ID] ASC,
	[fill_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tb_Sort]    Script Date: 3/12/2021 4:03:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tb_Sort] ON [dbo].[tab_Sort]
(
	[Sort] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tab_Product] ADD  CONSTRAINT [std_bottle]  DEFAULT ((4)) FOR [bottle_size_ID]
GO
ALTER TABLE [dbo].[tab_Product] ADD  CONSTRAINT [std_comm]  DEFAULT ('please comment') FOR [Comm]
GO
ALTER TABLE [dbo].[tab_Product] ADD  CONSTRAINT [std_countRating]  DEFAULT ((0)) FOR [countRating]
GO
ALTER TABLE [dbo].[tab_Product] ADD  CONSTRAINT [std_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[tab_Bestellung]  WITH CHECK ADD  CONSTRAINT [FK_tab_Bestellung_tab_Kunden] FOREIGN KEY([KundenID])
REFERENCES [dbo].[tab_Kunden] ([KundenID])
GO
ALTER TABLE [dbo].[tab_Bestellung] CHECK CONSTRAINT [FK_tab_Bestellung_tab_Kunden]
GO
ALTER TABLE [dbo].[tab_Bestellung]  WITH CHECK ADD  CONSTRAINT [FK_tab_Bestellung_tab_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tab_Product] ([Product_ID])
GO
ALTER TABLE [dbo].[tab_Bestellung] CHECK CONSTRAINT [FK_tab_Bestellung_tab_Product]
GO
ALTER TABLE [dbo].[tab_Kundenbewertung]  WITH CHECK ADD  CONSTRAINT [FK_tab_Kundenbewertung_tab_Bestellung] FOREIGN KEY([bestellung_ID])
REFERENCES [dbo].[tab_Bestellung] ([BestellID])
GO
ALTER TABLE [dbo].[tab_Kundenbewertung] CHECK CONSTRAINT [FK_tab_Kundenbewertung_tab_Bestellung]
GO
ALTER TABLE [dbo].[tab_Kundenbewertung]  WITH CHECK ADD  CONSTRAINT [FK_tab_Kundenbewertung_tab_Kunden] FOREIGN KEY([kunden_ID])
REFERENCES [dbo].[tab_Kunden] ([KundenID])
GO
ALTER TABLE [dbo].[tab_Kundenbewertung] CHECK CONSTRAINT [FK_tab_Kundenbewertung_tab_Kunden]
GO
ALTER TABLE [dbo].[tab_Kundenbewertung]  WITH CHECK ADD  CONSTRAINT [FK_tab_Kundenbewertung_tab_Product] FOREIGN KEY([product_ID])
REFERENCES [dbo].[tab_Product] ([Product_ID])
GO
ALTER TABLE [dbo].[tab_Kundenbewertung] CHECK CONSTRAINT [FK_tab_Kundenbewertung_tab_Product]
GO
ALTER TABLE [dbo].[tab_Prize]  WITH CHECK ADD  CONSTRAINT [FK_tab_Prize_tab_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tab_Product] ([Product_ID])
GO
ALTER TABLE [dbo].[tab_Prize] CHECK CONSTRAINT [FK_tab_Prize_tab_Product]
GO
ALTER TABLE [dbo].[tab_Product]  WITH CHECK ADD  CONSTRAINT [FK_tab_BottleSize_tab_Product] FOREIGN KEY([bottle_size_ID])
REFERENCES [dbo].[tab_BottleSize] ([BottleSizeID])
GO
ALTER TABLE [dbo].[tab_Product] CHECK CONSTRAINT [FK_tab_BottleSize_tab_Product]
GO
ALTER TABLE [dbo].[tab_Product]  WITH CHECK ADD  CONSTRAINT [FK_tab_Country_tab_Product] FOREIGN KEY([CountryID])
REFERENCES [dbo].[tab_Country] ([CountryID])
GO
ALTER TABLE [dbo].[tab_Product] CHECK CONSTRAINT [FK_tab_Country_tab_Product]
GO
ALTER TABLE [dbo].[tab_Product]  WITH CHECK ADD  CONSTRAINT [FK_tab_Producer_tab_Product] FOREIGN KEY([ProducerID])
REFERENCES [dbo].[tab_Producer] ([ProducerID])
GO
ALTER TABLE [dbo].[tab_Product] CHECK CONSTRAINT [FK_tab_Producer_tab_Product]
GO
ALTER TABLE [dbo].[tab_Product]  WITH CHECK ADD  CONSTRAINT [FK_tab_Sort_tab_Product] FOREIGN KEY([sortID])
REFERENCES [dbo].[tab_Sort] ([SortID])
GO
ALTER TABLE [dbo].[tab_Product] CHECK CONSTRAINT [FK_tab_Sort_tab_Product]
GO
ALTER TABLE [dbo].[tab_Product]  WITH CHECK ADD  CONSTRAINT [FK_tab_WBrating_tab_Product] FOREIGN KEY([WBratingID])
REFERENCES [dbo].[tab_WB_rating] ([WBratingID])
GO
ALTER TABLE [dbo].[tab_Product] CHECK CONSTRAINT [FK_tab_WBrating_tab_Product]
GO
ALTER TABLE [dbo].[tab_Kunden]  WITH CHECK ADD  CONSTRAINT [CHK_Age] CHECK  ((floor(datediff(day,[Geburtsdatum],getdate())/(365.25))>=(18)))
GO
ALTER TABLE [dbo].[tab_Kunden] CHECK CONSTRAINT [CHK_Age]
GO
ALTER TABLE [dbo].[tab_Product]  WITH CHECK ADD  CONSTRAINT [CHK_Alc] CHECK  (([alcohol_content]<(100)))
GO
ALTER TABLE [dbo].[tab_Product] CHECK CONSTRAINT [CHK_Alc]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDataBestellung]    Script Date: 3/12/2021 4:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description:	Diese Prozedur wird verwendet, um zufällige Bestellung Informationen hinzuzufügen
-- =============================================
CREATE   PROCEDURE [dbo].[sp_AddDataBestellung]

	@Max int, -- number of entries
	@Kommentar nvarchar(MAX),
	-----
	@Erfolg bit OUTPUT, -- geklappt oder nicht
	@Feedback VARCHAR(MAX) OUTPUT -- Fehlermeldungen etc.
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	
	-- Hilfsvariablen deklarieren	
	DECLARE @CheckResult AS int;
	DECLARE @Bestellnr AS numeric(5,0); 
	DECLARE @Date AS datetime; 
	DECLARE @KundenID as int;
	DECLARE @ProductID as int;
	DECLARE @ProductQty as smallint;
	DECLARE @Betrag as money;
	DECLARE @Count as int;
	-------------------------------	
	BEGIN TRY 
		SET @Erfolg = 1;
		SET @Feedback = 'Alles OK!';
		SET @Count = 1;

		while(@Count <= @Max)
			Begin
				SET @Bestellnr = floor(rand(CONVERT(varbinary,NEWID())) * 89999 + 10000)  -- generate Bestellnr between 10000 and 99999,
				SET @Date= DateAdd(d, ROUND(DateDiff(d, '2012-01-01', GETDATE()) * RAND(CHECKSUM(NEWID())), 0), DATEADD(second,CHECKSUM(NEWID())%48000, '2012-01-01'))
				SET @KundenID = floor(rand(CONVERT(varbinary,NEWID())) * 100 + 1)
				SET @ProductID = floor(rand(CONVERT(varbinary,NEWID())) * 790 + 3)
				SET @ProductQty = floor(rand(CONVERT(varbinary,NEWID())) * 10 + 1)
				SET @Betrag = [dbo].[sf_CalcBetragBestellung](@ProductID,@ProductQty)
				IF @Betrag IS NULL -- @ProductID nicht gefunden, Fehler
					THROW 50001, 'ProductID ist falsch, bitte korriegieren',1;

				INSERT INTO tab_Bestellung
					(Bestellnummer, date, KundenID, ProductID, Product_quantity, Betrag)
					SELECT 
						@Bestellnr, @Date, @KundenID, @ProductID, @ProductQty,@Betrag
				WHERE @Count <= @Max

				SET @Count = @Count +1
			End
		   	
	END TRY 
	BEGIN CATCH
		SET @Erfolg = 0; -- nicht geklappt--
		-- 	@Feedback text OUTPUT --Fehlermeldungen etc.
		SET @Feedback = 
			ERROR_MESSAGE() + ' Fehler Nr. '+ CONVERT(varchar, ERROR_NUMBER())
						+ ' Prozedur: '  + ERROR_PROCEDURE()
						+ ' Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());
	END CATCH; 
END
GO
/****** Object:  Trigger [dbo].[tr_KundenbwertungINSERT]    Script Date: 3/12/2021 4:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[tr_KundenbwertungINSERT]  
   ON [dbo].[tab_Kundenbewertung]
   FOR INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	INSERT INTO dbo.tab_KundenbewertungLog
		   (KdnBwNr, Mode, KundenID, BestellungID, ProductID, RatingDate,Rating, EditUser)
	SELECT rating_ID, 'I', kunden_ID, bestellung_ID, product_ID, date, rating, ORIGINAL_LOGIN()
	FROM inserted; 


/*
https://docs.microsoft.com/de-de/sql/relational-databases/triggers/use-the-inserted-and-deleted-tables?view=sql-server-2017

DML-Triggeranweisungen verwenden zwei besondere Tabellen: 
die inserted-Tabelle und die deleted-Tabelle. 
SQL Server erstellt und verwendet diese Tabellen automatisch. 
Sie können diese temporären, speicherresidenten Tabellen verwenden, 
um die Auswirkungen bestimmter Datenänderungen zu testen 
und Bedingungen für DML-Triggeraktionen festzulegen. 
Das direkte Ändern der Daten in den Tabellen 
bzw. das Ausführen von Data Definition Language-(DDL-)Vorgängen für die Tabellen, 
beispielsweise CREATE INDEX, ist nicht möglich.
*/


END
GO
ALTER TABLE [dbo].[tab_Kundenbewertung] ENABLE TRIGGER [tr_KundenbwertungINSERT]
GO
USE [master]
GO
